<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" metadata-complete="false"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<!-- <welcome-file-list> <welcome-file>index.html</welcome-file> </welcome-file-list> -->

	<servlet>
		<servlet-name>xmlServlet</servlet-name>
		<servlet-class>org.example.demo.XmlServlet</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>John</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>xmlServlet</servlet-name>
		<url-pattern>/xmlServletPath</url-pattern>
	</servlet-mapping>

<servlet>
<servlet-name>InitJSP</servlet-name>
<jsp-file>/InitPage.jsp</jsp-file>
<init-param>
			<param-name>defaultUser</param-name>
			<param-value>default User Name</param-value>
</init-param>
</servlet>
<servlet-mapping>
		<servlet-name>InitJSP</servlet-name>
		<url-pattern>/InitPage.jsp</url-pattern>
</servlet-mapping>

</web-app>